@charset "UTF-8";
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(#fff5eb), color-stop(#ffffff), to(#fff5eb));
  background: linear-gradient(to bottom, #fff5eb, #ffffff, #fff5eb);
  color: #000;
  font-family: "DM Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  margin: 0;
  cursor: default;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  display: inline-block;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

address {
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Belleza";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/belleza-v17-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* dm-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/dm-sans-v15-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* dm-sans-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/dm-sans-v15-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* dm-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/dm-sans-v15-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
.container {
  max-width: 1224px;
  width: 100%;
  margin: 0 auto;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0;
}
.header__logo {
  font-family: "Belleza";
  font-size: 40px;
  font-weight: 400;
  color: #fff;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
.header__list-item a {
  text-decoration: none;
  color: #fff;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
  height: 25px;
}
.header__list-item a:hover {
  -webkit-box-shadow: inset 0 -1px 0 #fff;
          box-shadow: inset 0 -1px 0 #fff;
}
.header__activity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
}
.header__search {
  position: relative;
}
.header__search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__search-input {
  padding: 10px;
  width: 30px;
  height: 30px;
  background: none;
  border: 2px solid #fff;
  border-radius: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "DM Sans";
  font-size: 13px;
  color: #fff;
  outline: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.header__search:hover input {
  width: 100px;
  background: transparent;
  border-radius: 10px;
}
.header__search svg {
  position: absolute;
  top: 18%;
  left: 20%;
  -webkit-transform: translate(10%, 10%);
          transform: translate(10%, 10%);
  font-size: 26px;
  color: #ffd52d;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.header__search:hover svg {
  opacity: 0;
  z-index: -1;
}
.header__search-btn-img {
  width: 15px;
  height: 15px;
  fill: #fff;
}
.header__language-selection {
  border: none;
  font-size: 16px;
  font-family: "DM Sans";
  outline: none;
  background: transparent;
  color: #fff;
}
.header__language-selection option {
  color: #000;
}

.hero-section {
  padding: 210px 0 60px;
  background-image: url(../images/Hero-section.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-section__title {
  font-size: 34px;
  font-weight: 700;
  max-width: 720px;
  color: #fff;
  margin-bottom: 80px;
}
.hero-section__video-link {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  position: absolute;
}
.hero-section__video-link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}
.hero-section__video-link-cirkle-firs {
  width: 120px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  position: relative;
  top: 0;
  right: -70px;
}
.hero-section__video-link-cirkle-second {
  width: 72px;
  height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}
.hero-section__video-link-btn {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.hero-section__video-link-btn:hover {
  background-color: transparent;
}
.hero-section__video-link-play {
  fill: #fff;
  width: 15px;
  height: 15px;
}

.form {
  border-bottom: 1px solid grey;
}
.form__container {
  padding: 48px 0;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
}
.form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}
.form__group::after {
  content: "";
  height: 30px;
  width: 2px;
  background-color: rgba(0, 0, 0, 0.5);
}
.form__group-input-conntainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.form__group-input {
  background: transparent;
  border: none;
  padding: 0;
  font-size: 16px;
  color: #000;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.form__group-input:focus {
  outline: 0;
  outline-offset: 0;
}
.form__group-input::-webkit-input-placeholder {
  color: #000;
  opacity: 1;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.form__group-input::-moz-placeholder {
  color: #000;
  -moz-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.form__group-input:-moz-placeholder {
  color: #000;
  -moz-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.form__group-input:-ms-input-placeholder {
  color: #000;
  -ms-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.form__group-input:focus::-webkit-input-placeholder {
  color: #000;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.form__group-input:focus::-moz-placeholder {
  color: #000;
  -moz-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.form__group-input:focus:-moz-placeholder {
  color: #000;
  -moz-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.form__group-input:focus:-ms-input-placeholder {
  color: #000;
  -ms-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.form__group-input:hover::-webkit-input-placeholder {
  color: #34a0a4; /* цвет для webkit-браузеров */
}
.form__group-input:hover::-moz-placeholder {
  color: #34a0a4; /* цвет для Firefox */
}
.form__group-input:hover:-moz-placeholder {
  color: #34a0a4; /* цвет для старых Firefox */
}
.form__group-input:hover:-ms-input-placeholder {
  color: #34a0a4; /* цвет для IE */
}
.form__group label {
  font-size: 13px;
  color: #525252;
}
.form__group-persons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 12px;
}
.form__group-persons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.form__group-persons-container label {
  color: #525252;
  font-size: 13px;
}
.form__group-persons-container select {
  background: transparent;
  border: none;
  font-size: 16px;
  color: #000;
  cursor: pointer;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  appearance: none; /* Убирает стрелку */
  -webkit-appearance: none; /* Для браузеров WebKit */
  -moz-appearance: none; /* Для Firefox */
}
.form__group-persons-container select:hover {
  color: #34a0a4;
}
.form__group-persons-container select:focus {
  outline: 0;
  outline-offset: 0;
}
.form__btn {
  width: 212px;
  height: 56px;
  background-color: #34a0a4;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 64px;
  cursor: pointer;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
  -webkit-box-shadow: 0 3px 5px 0 grey;
          box-shadow: 0 3px 5px 0 grey;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.form__btn:hover {
  background-color: transparent;
  color: black;
  border: 1px solid black;
  -webkit-box-shadow: 0 2px 3px 0 #1a759f;
          box-shadow: 0 2px 3px 0 #1a759f;
}
.form__btn:hover svg {
  fill: black;
}
.form__btn-search {
  fill: white;
  width: 24px;
  height: 24px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.form__btn-calendar, .form__btn-persons {
  fill: #34a0a4;
  width: 24px;
  height: 24px;
}/*# sourceMappingURL=main.css.map */